In [1]:
skill = "python"

In [2]:
skill

'python'

In [3]:
type(skill)

str

In [4]:
skill.upper()

'PYTHON'

In [5]:
skill.lower()

'python'

In [6]:
skill.replace("p","j")

'jython'

In [7]:
jobe_title ="data analyst"
#rename as doto analyst
job_title = jobe_title.replace("a","o",2) #here 2 means first 2 occurences of a will be replaced with new letter

In [8]:
#split the string 
job_title.split()

['doto', 'analyst']

In [9]:
#Add two strings
"data" " " + "analyst" " " + "job"

'data analyst job'

In [10]:
#find length - it counts spaces too 
len('data analyst job')

16

In [11]:
# #string formatting - how to comment all the code- command +forward slash 
role = "data analyst"
skill ="python"
 # write out 'Role: Data Analyst'
"Role : " + role

'Role : data analyst'

In [12]:
f" Role: {role}, skill req : {skill}"

' Role: data analyst, skill req : python'

In [13]:
#Join 
years_Experience =["0123456789"]

In [14]:
years_Experience = ", ".join(years_Experience)

In [15]:
years_Experience

'0123456789'

In [16]:
min_salary = 100000  #_ is ignored by the intrepretaor
max_salary = 500000

In [17]:
avg_sal = (min_salary+max_salary)/2

In [18]:
avg_sal

300000.0

In [19]:
#assignment operators

In [20]:
applicant_1 = "Kelly"    #swap 2 variables

applicant_2 ="sarika"
applicant_1, applicant_2 =applicant_2,applicant_1

In [21]:
applicant_1

'sarika'

In [22]:
applicant_2

'Kelly'

In [23]:
x=1
x += 1

In [24]:
x

2

In [25]:
x *= 2

In [26]:
x

4

In [27]:
#comparing
salalry_kelly = 120000
salalry_sarika = 130000
salalry_kelly == salalry_sarika

False

In [28]:
1== 1

True

In [29]:
#skills req for job posting 
Applicant_skill = "sql"
job_skill ="python"
years_of_exp = 3
if Applicant_skill == job_skill:
  print("skills Matched!")

In [30]:
if Applicant_skill == job_skill:
  print("skills Matched!")
elif years_of_exp >=5:
    print("enough exp; no sql ")
else:
    print("no skill or exp;not matched!")

no skill or exp;not matched!

In [31]:
#  LISTS 
#lists are a collection of ordered items with different data types
# we can add and remove items from the lsit that means lists are mutable 
# ta list can have duplicate items

In [32]:
job_lists =["sql","pyhton","excel"]

In [33]:
job_lists.append("tableu")   #APPEND ADD THE ITEMS AT THE END of the list 
job_lists

['sql', 'pyhton', 'excel', 'tableu']

In [34]:
# remove the item from the list 
job_lists.remove("tableu")

In [35]:
job_lists_1 = ['sql', 'excel', 'tableu', 'tableu','python']

In [36]:
job_lists_1.remove('python')  #removes first occurence of the item

In [37]:
job_lists_1

['sql', 'excel', 'tableu', 'tableu']

In [38]:
#now we can use 'insert' to put the items in the right position  in the list
job_lists_1

['sql', 'excel', 'tableu', 'tableu']

In [39]:
job_lists_1.insert(1,"consistency")

In [40]:
job_lists_1

['sql', 'consistency', 'excel', 'tableu', 'tableu']

In [41]:
job_lists_1.pop(1)

'consistency'

In [42]:
job_lists_1

['sql', 'excel', 'tableu', 'tableu']

In [43]:
job_lists_1[0:2]

['sql', 'excel']

In [44]:
job_lists_1[0:4]

['sql', 'excel', 'tableu', 'tableu']

In [45]:
job_lists_1[1:3]

['excel', 'tableu']

In [46]:
#steps

In [47]:
luke_skills =["python","r","power_bi"]
kelly_skills =["python","looker","sql"]
all_skills = luke_skills+kelly_skills

In [48]:
all_skills

['python', 'r', 'power_bi', 'python', 'looker', 'sql']

In [49]:
all_skills[::2]

['python', 'power_bi', 'looker']

In [50]:
skills_req =[ 'r', 'power_bi', 'python', 'looker', 'sql']

In [51]:
skill1,skill2,skill3,skill4,skill5 = skills_req     #this is called unpacking

In [52]:
print(skill1)
print(skill2) 
print(skill3)

r
power_bi
python

In [53]:
#now we are only concerned about some part if the list and not remaning like ,
#we want to see only if the first 2 items of the list are matched  then we can unpack them like this

In [54]:
skill_concerned_1,skill_concerned_2, *not_cared = skills_req

In [55]:
skill_concerned_1,skill_concerned_2

('r', 'power_bi')

In [56]:
not_cared

['python', 'looker', 'sql']

In [57]:
#Dictionary 
job_type_skills = {
    'database' : 'postgresql',
    'language' : 'python',
    'library'  : 'pandas'  }

In [58]:
job_type_skills

{'database': 'postgresql', 'language': 'python', 'library': 'pandas'}

In [59]:
job_type_skills['language']

'python'

In [60]:
job_type_skills.keys()

dict_keys(['database', 'language', 'library'])

In [61]:
job_type_skills.values()

dict_values(['postgresql', 'python', 'pandas'])

In [62]:
job_type_skills.pop('database')

'postgresql'

In [63]:
job_type_skills

{'language': 'python', 'library': 'pandas'}

In [64]:
job_type_skills.update({"cloud" : "AWS"})

In [65]:
job_type_skills

{'language': 'python', 'library': 'pandas', 'cloud': 'AWS'}

In [66]:
job_type_skills["version_control"] = "git"

In [67]:
job_type_skills

{'language': 'python',
 'library': 'pandas',
 'cloud': 'AWS',
 'version_control': 'git'}

In [68]:
job_type_skills["language"]= 'sql','python'

In [69]:
job_type_skills

{'language': ('sql', 'python'),
 'library': 'pandas',
 'cloud': 'AWS',
 'version_control': 'git'}

In [70]:
all_skills

['python', 'r', 'power_bi', 'python', 'looker', 'sql']

In [71]:
all_unique =set(all_skills)  #unique items

In [72]:
all_unique

{'looker', 'power_bi', 'python', 'r', 'sql'}

In [73]:
all_unique.add('stats')

In [74]:
all_unique.pop()

'power_bi'

In [75]:
all_unique

{'looker', 'python', 'r', 'sql', 'stats'}

In [76]:
#to remove specifi value
all_unique.remove("power_bi")

KeyError: 'power_bi'

In [ ]:
all_unique

In [ ]:
#TUPLES

In [ ]:
#Tuples are for fixed data, tuples are not mutable that means we cannot add and remove an item from a tuple,.. 
#this is called tuples are immutable
#tuples are indexed, we can accessa by indexing, slicing

In [ ]:
luke_skills =('sql','python')

In [ ]:
missing_skills =('tableu', 'looker')
#now we need to add these missing skills to lukes skills.
#we cannot directly append in to the lukeskills but we can add them and create a new tuple see below
luke_all_skills = luke_skills+missing_skills
luke_all_skills

In [ ]:
range(5)

In [ ]:
tuple(range(5))

In [ ]:
tuple(range(1,5))

In [ ]:
tuple(range(1,20,2))

In [ ]:
#list Comprehensions -  This is basically a combinaton of list and loops

In [ ]:
numbers =[x for x in range(10)]   #define the list[], variable to put in the list, now we need to usa lopo to iterate through

In [ ]:
numbers

In [ ]:
multipy =[x*2 for x in range(10)]

In [ ]:
multipy

In [ ]:
#we can also iterate through tuples,sets,dict

In [ ]:
comprehension_set = {x for x in 'pythonpp'}

In [ ]:
comprehension_set

In [ ]:
# #for example : we can do this as 
# analyst_list= []
# for job in job_list:
#     if "data analyst" in job:
#         analyst_list.append(job)

In [ ]:
#analyst_list = [job for job in job_list if "data analyst" in job]

In [ ]:
job_titles = [
    "Data Scientist", "Machine Learning Engineer", "Data Analyst", "Business Analyst",
    "AI Researcher", "Data Engineer", "Statistician", "Big Data Specialist",
    "Quantitative Analyst", "Operations Analyst", "Research Scientist", "BI Developer",
    "Data Architect", "Deep Learning Engineer", "Predictive Modeler", "Marketing Analyst",
    "Product Data Scientist", "Risk Analyst", "Supply Chain Analyst", "Data Visualization Specialist",
    "Analytics Manager", "Data Strategist", "Fraud Analyst", "Customer Insights Analyst",
    "Clinical Data Analyst", "IoT Data Scientist", "Financial Analyst", "HR Analyst",
    "Economist", "Sports Data Analyst", "Healthcare Data Scientist", "NLP Engineer",
    "Computer Vision Engineer", "Data Quality Analyst", "Causal Inference Specialist", "Survey Statistician",
    "Policy Data Analyst", "Actuary", "Geospatial Data Analyst", "Data Governance Specialist",
    "Data Operations Manager", "AI Ethicist", "Simulation Modeler", "Data Wrangler",
    "Experimentation Engineer", "Optimization Analyst", "Behavioral Data Analyst", "Gaming Data Analyst",
    "Customer Data Specialist", "Data Storyteller", "Ad Optimization Analyst", "Database Administrator",
    "ETL Developer", "Personalization Analyst", "Cybersecurity Data Scientist", "Data Mining Specialist",
    "Web Analyst", "Sensor Data Scientist", "Streaming Data Engineer", "Sales Data Analyst",
    "E-commerce Data Analyst", "Education Data Analyst", "Performance Analyst", "Social Media Analyst",
    "Network Data Scientist", "Real-Time Data Analyst", "Energy Data Scientist", "Video Analytics Specialist",
    "Climate Data Scientist", "Text Mining Specialist", "Portfolio Analyst", "Graph Data Specialist",
    "Data Privacy Analyst", "Insurance Data Scientist", "Data Automation Engineer", "Quantitative Developer",
    "Digital Marketing Analyst", "SEO Data Analyst", "Voice Data Analyst", "AI Product Manager",
    "Embedded Data Scientist", "Robotics Data Analyst", "Genomics Data Scientist", "Algorithm Developer",
    "Churn Analyst", "Customer Success Analyst", "Content Recommendation Analyst", "Growth Analyst",
    "Data Ethics Specialist", "Logistics Data Analyst", "Conversion Rate Optimization Analyst",
    "Search Engine Data Scientist", "Market Research Analyst", "Public Policy Data Scientist",
    "Data Collection Specialist", "Transportation Data Scientist", "Auditor Data Specialist", "Pricing Analyst"
]

In [ ]:
job_roles = [
    {"role": "Data Analyst", "skills": ["SQL", "Python", "Power BI"]},
    {"role": "Data Scientist", "skills": ["Python", "Machine Learning", "R"]},
    {"role": "Machine Learning Engineer", "skills": ["TensorFlow", "Python", "PyTorch"]},
    {"role": "Data Engineer", "skills": ["ETL", "SQL", "Spark"]},
    {"role": "Business Analyst", "skills": ["Excel", "Power BI", "Tableau"]},
    {"role": "AI Researcher", "skills": ["Deep Learning", "Python", "NLP"]},
    {"role": "Statistician", "skills": ["Statistics", "R", "SPSS"]},
    {"role": "Big Data Specialist", "skills": ["Hadoop", "Spark", "Scala"]},
    {"role": "Quantitative Analyst", "skills": ["Quantitative Analysis", "Python", "Excel"]},
    {"role": "Operations Analyst", "skills": ["Operations Research", "SQL", "Python"]},
    {"role": "Research Scientist", "skills": ["Python", "Data Analysis", "Modeling"]},
    {"role": "BI Developer", "skills": ["SSRS", "SQL", "Power BI"]},
    {"role": "Data Architect", "skills": ["Data Modeling", "SQL", "AWS"]},
    {"role": "Deep Learning Engineer", "skills": ["Keras", "TensorFlow", "Python"]},
    {"role": "Predictive Modeler", "skills": ["Machine Learning", "Python", "R"]},
    {"role": "Marketing Analyst", "skills": ["Google Analytics", "Excel", "SQL"]},
    {"role": "Product Data Scientist", "skills": ["Python", "Product Analytics", "A/B Testing"]},
    {"role": "Risk Analyst", "skills": ["Risk Management", "SQL", "R"]},
    {"role": "Supply Chain Analyst", "skills": ["Supply Chain Management", "Python", "Tableau"]},
    {"role": "Data Visualization Specialist", "skills": ["Tableau", "Power BI", "Excel"]},
    {"role": "Analytics Manager", "skills": ["Data Strategy", "SQL", "Python"]},
    {"role": "Fraud Analyst", "skills": ["Fraud Detection", "SQL", "Python"]},
    {"role": "Customer Insights Analyst", "skills": ["Customer Data", "Tableau", "SQL"]},
    {"role": "Clinical Data Analyst", "skills": ["Clinical Data", "R", "Python"]},
    {"role": "IoT Data Scientist", "skills": ["IoT Analytics", "Python", "Cloud Computing"]},
    {"role": "Financial Analyst", "skills": ["Financial Modeling", "Excel", "SQL"]},
    {"role": "HR Analyst", "skills": ["People Analytics", "Excel", "Tableau"]},
    {"role": "Economist", "skills": ["Economics", "R", "Python"]},
    {"role": "Sports Data Analyst", "skills": ["Sports Statistics", "Python", "Tableau"]},
    {"role": "Healthcare Data Scientist", "skills": ["Healthcare Analytics", "Python", "R"]},
    {"role": "NLP Engineer", "skills": ["NLP", "Python", "SpaCy"]},
    {"role": "Computer Vision Engineer", "skills": ["OpenCV", "Deep Learning", "Python"]},
    {"role": "Data Quality Analyst", "skills": ["Data Cleansing", "SQL", "Python"]},
    {"role": "Survey Statistician", "skills": ["Survey Analysis", "R", "Python"]},
    {"role": "Policy Data Analyst", "skills": ["Policy Analysis", "Python", "Excel"]},
    {"role": "Actuary", "skills": ["Actuarial Science", "Excel", "R"]},
    {"role": "Geospatial Data Analyst", "skills": ["GIS", "Python", "QGIS"]},
    {"role": "Data Governance Specialist", "skills": ["Data Governance", "SQL", "Excel"]},
    {"role": "AI Ethicist", "skills": ["AI Ethics", "Policy", "Python"]},
    {"role": "Simulation Modeler", "skills": ["Simulation", "Python", "R"]},
    {"role": "Optimization Analyst", "skills": ["Optimization", "Python", "Linear Programming"]},
    {"role": "Gaming Data Analyst", "skills": ["Game Analytics", "SQL", "Python"]},
    {"role": "Customer Data Specialist", "skills": ["Customer Insights", "Excel", "SQL"]},
    {"role": "Ad Optimization Analyst", "skills": ["Ad Analytics", "Google Ads", "Excel"]},
    {"role": "Web Analyst", "skills": ["Web Analytics", "Google Analytics", "Excel"]},
    {"role": "Cybersecurity Data Scientist", "skills": ["Cybersecurity", "Python", "Machine Learning"]},
    {"role": "Energy Data Scientist", "skills": ["Energy Analytics", "Python", "Excel"]},
    {"role": "Portfolio Analyst", "skills": ["Portfolio Management", "Excel", "Python"]},
    {"role": "Insurance Data Scientist", "skills": ["Insurance Data", "Python", "SQL"]},
    {"role": "Search Engine Data Scientist", "skills": ["Search Engine Optimization", "Python", "SQL"]},
    {"role": "Logistics Data Analyst", "skills": ["Logistics Analytics", "Python", "Excel"]},
    {"role": "Conversion Rate Optimization Analyst", "skills": ["Conversion Analytics", "Excel", "Python"]},
    {"role": "Market Research Analyst", "skills": ["Market Analysis", "Excel", "Tableau"]},
    {"role": "Data Collection Specialist", "skills": ["Data Collection", "Python", "Excel"]},
    {"role": "Transportation Data Scientist", "skills": ["Transportation Analytics", "Python", "Excel"]},
    {"role": "Auditor Data Specialist", "skills": ["Data Auditing", "Excel", "SQL"]},
    {"role": "Pricing Analyst", "skills": ["Pricing Analytics", "Excel", "SQL"]},
    {"role": "Video Analytics Specialist", "skills": ["Video Analysis", "Python", "OpenCV"]},
    {"role": "Text Mining Specialist", "skills": ["Text Mining", "NLP", "Python"]},
    {"role": "Voice Data Analyst", "skills": ["Voice Recognition", "Python", "NLP"]},
    {"role": "Graph Data Specialist", "skills": ["Graph Analysis", "Python", "NetworkX"]},
    {"role": "Genomics Data Scientist", "skills": ["Genomics", "Python", "R"]},
    {"role": "Algorithm Developer", "skills": ["Algorithms", "Python", "C++"]},
    {"role": "AI Product Manager", "skills": ["Product Management", "AI", "SQL"]},
    {"role": "SEO Data Analyst", "skills": ["SEO", "Google Analytics", "Python"]}
]
# Add more roles similarly if you need to reach exactly 150.

In [ ]:
My_skills = ["SQL", "Python", "Power BI"]
qualified_roles = []
for job in job_roles:
    qualified = True
    for skill in My_skills:
        if skill not in job["skills"]:
           qualified =False
           break
    if qualified:
        qualified_roles.append(job["role"])

qualified_roles

In [ ]:
mul = lambda x: x*2  # lambda arguments :expression  and assign this function to a variable name and we can use it 
#so here we are assigning lambda function a variable name  mul and call the function

In [ ]:
mul (2)

In [ ]:
# we can also write like this 
(lambda x : x*2)(3)

In [ ]:
# we can also provide multiple arguments in this case 
(lambda x,y :(x+y,x*y))(2,4)

In [ ]:
base_salary  = 100000
bonus_rate = 0.1
total_salary = base_salary*(1+bonus_rate)
total_salary
#now if we have bunch of differerent salries and bunch of different rates 
#wehave tp calculate total salry for each of the item we have itereate the list of items
def calculate_salary():
    base_salary  = 100000
    bonus_rate = 0.1 
    total_salary = base_salary*(1+bonus_rate)
    return total_salary

In [ ]:
calculate_salary()

In [ ]:
base_salary  = 100000
bonus_rate = 0.1
def calculate_salary(base_salary,bonus_rate):
    total_salary = base_salary*(1+bonus_rate)
    return total_salary ;

In [ ]:
calculate_salary(base_salary,bonus_rate)

In [ ]:
def calc_sal(base_sal,bonus_rate=0.1):
    total_salary = base_sal*(1+bonus_rate)
    return total_salary

In [ ]:
calc_sal(120000)

In [ ]:
base_salary = [12,34,20]
total_salary_list = []

def calc_sal(base_salary,bonus_rate=1):
   for salary in base_salary:
       total_salary = salary*(1+bonus_rate)
       total_salary_list.append(total_salary)
   return total_salary_list
calc_sal(base_salary)

In [ ]:
#using list comprehension
salaries_list = [5000,2000,6000,4000]
bonus_amount = 1000
def cal_total(base_salary,bonus=0.5):
    return base_salary*(1+bonus)


total_salary_list =[cal_total(salary) for salary in salaries_list]
total_salary_list

In [ ]:
jobs_data = [
    {
        "job_title": "Data Scientist",
        "job_skills": ["Python", "Machine Learning", "SQL", "Data Visualization"],
        "remote": True
    },{
        "job_title": "Data Analyst",
        "job_skills": ["Excel", "SQL", "Power BI", "Data Cleaning"],
        "remote": False},
    {
        "job_title": "Machine Learning Engineer",
        "job_skills": ["Python", "TensorFlow", "Deep Learning", "Model Deployment"],
        "remote": True
    },
    {
        "job_title": "Business Intelligence Analyst",
        "job_skills": ["SQL", "Tableau", "Data Modeling", "Business Analysis"],
        "remote": False
    },
    {
        "job_title": "Data Engineer",
        "job_skills": ["Python", "Spark", "ETL", "Big Data"],
        "remote": True
    },
    {
        "job_title": "Statistician",
        "job_skills": ["R", "Statistics", "Hypothesis Testing", "Data Analysis"],
        "remote": False
    },
    {
        "job_title": "AI Researcher",
        "job_skills": ["Python", "NLP", "Deep Learning", "Research"],
        "remote": True
    },
    {
        "job_title": "Data Architect",
        "job_skills": ["Database Design", "SQL", "Cloud Computing", "Data Security"],
        "remote": False
    },
    {
        "job_title": "Product Analyst",
        "job_skills": ["SQL", "A/B Testing", "Python", "Market Analysis"],
        "remote": True
    },
    {
        "job_title": "Big Data Analyst",
        "job_skills": ["Hadoop", "Spark", "Data Mining", "Scala"],
        "remote": False
    }
]

In [ ]:
remote_jobs = list(filter(lambda job :job["remote"],jobs_data))
print(remote_jobs)

In [ ]:
# Example dictionary for jobs_data
jobs_data = [
    {"job_title": "Data Scientist", "job_skills": ["Python", "SQL", "Machine Learning"], "remote": True},
    {"job_title": "Data Analyst", "job_skills": ["Excel", "SQL", "Tableau"], "remote": False},
    {"job_title": "Machine Learning Engineer", "job_skills": ["Python", "Deep Learning"], "remote": True},
    {"job_title": "Business Analyst", "job_skills": ["SQL", "Power BI"], "remote": False}
]

# Using filter to get remote jobs
remote_jobs = list(filter(lambda job: job["remote"], jobs_data))

# Displaying the remote jobs
print(remote_jobs)

In [ ]:

# Using filter to get remote jobs and python should be in job skills 
remote_jobs = list(filter(lambda job: job["remote"] and "Python" in job["job_skills"], jobs_data))
remote_jobs

In [ ]:
import os
os.getcwd()

In [ ]:
import my_modules

In [ ]:
my_modules.skill("python")

In [225]:
import pandas as pd

In [227]:
df = pd.read_csv("/Users/jastisarika/Downloads/data_jobs.csv")

In [228]:
df.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,NaN,NaN,NaN,Boehringer Ingelheim,NaN,NaN
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee Mxico,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,NaN,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,NaN,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,NaN,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,NaN,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."

In [231]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  object
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), float64(2), object(12)
memory usage: 86.2+ MB

In [233]:
df.describe()

       salary_year_avg  salary_hour_avg
count     22003.000000     10662.000000
mean     123286.274072        47.016598
std       48312.449482        21.890738
min       15000.000000         8.000000
25%       90000.000000        27.500000
50%      115000.000000        45.980000
75%      150000.000000        61.159996
max      960000.000000       391.000000

In [235]:
df.job_title_short.unique()

array(['Senior Data Engineer', 'Data Analyst', 'Data Engineer',
       'Business Analyst', 'Data Scientist', 'Machine Learning Engineer',
       'Senior Data Analyst', 'Cloud Engineer', 'Senior Data Scientist',
       'Software Engineer'], dtype=object)

In [ ]:
# df[(df.job_title_short == "Data Analyst") & (df.salary_year_avg > 100000)]

In [ ]:
# df[(df.job_title_short == "Data Analyst") & (df.salary_year_avg.notna())].head()

In [237]:
#cleaning of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  object
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), float64(2), object(12)
memory usage: 86.2+ MB

In [239]:
# job_posted_date        785741 non-null  object   - 
#see here job_posted_date is given as object.. we have to to confirm whether it is a string  or date or object 
#lets get one row of data to check what it has exactly
df.job_posted_date[0]

'2023-06-16 13:44:15'

In [ ]:
#look, we have a date but stored in a object data type -- lets check type of this

In [241]:
type(df.job_posted_date[0])

str

In [243]:
#it is an str data type--now convert in to data time by using pandas
pd.to_datetime(df.job_posted_date)

0        2023-06-16 13:44:15
1        2023-01-14 13:18:07
2        2023-10-10 13:14:55
3        2023-07-04 13:01:41
4        2023-08-07 14:29:36
                 ...
785736   2023-03-13 06:16:16
785737   2023-03-12 06:18:18
785738   2023-03-12 06:32:36
785739   2023-03-12 06:32:15
785740   2023-03-13 06:16:31
Name: job_posted_date, Length: 785741, dtype: datetime64[ns]

In [245]:
# it is converted in to datetime in this cell.. we have to assign to job_posted_date column after converting
df["job_posted_date"] = pd.to_datetime(df.job_posted_date)

In [247]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [249]:
!pip install jedi

Requirement already satisfied: jedi in ./Applications/anaconda3/lib/python3.12/site-packages (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in ./Applications/anaconda3/lib/python3.12/site-packages (from jedi) (0.8.3)

In [251]:
df.job_posted_date.dt.month

0          6
1          1
2         10
3          7
4          8
          ..
785736     3
785737     3
785738     3
785739     3
785740     3
Name: job_posted_date, Length: 785741, dtype: int32

In [253]:
df["job_posted_month"] = df.job_posted_date.dt.month

In [255]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
 17  job_posted_month       785741 non-null  int32
dtypes: bool(3), datetime64[ns](1), float64(2), int32(1), object(11)
memory usage: 89.2+ MB

In [257]:
df.sort_values(by="job_posted_date",inplace =True)

In [259]:
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_month
108804,Data Analyst,Data Analyst,"New York, NY",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:04,False,False,United States,NaN,NaN,NaN,Metasys Technologies,"['sql', 'snowflake', 'visio', 'jira', 'conflue...","{'analyst_tools': ['visio'], 'async': ['jira',...",1
96906,Data Analyst,Data Analyst,"Bloomfield, CT",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:07,True,False,United States,NaN,NaN,NaN,Diverse Lynx,"['sql', 'sas', 'sas']","{'analyst_tools': ['sas'], 'programming': ['sq...",1
98438,Data Analyst,Data Analyst,"Washington, DC",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:22,False,True,United States,NaN,NaN,NaN,Guidehouse,"['sql', 'python', 'r', 'azure', 'snowflake', '...","{'analyst_tools': ['tableau', 'excel'], 'cloud...",1
110290,Data Analyst,Data Analyst,"Fairfax, VA",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:24,False,False,United States,NaN,NaN,NaN,Protask,"['sql', 'jira']","{'async': ['jira'], 'programming': ['sql']}",1
72158,Senior Data Analyst,Senior Data Analyst / Platform Experience,"Worcester, MA",via LinkedIn,Full-time,False,"New York, United States",2023-01-01 00:00:27,False,True,United States,NaN,NaN,NaN,Atria Wealth Solutions,"['sql', 'atlassian', 'jira']","{'async': ['jira'], 'other': ['atlassian'], 'p...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362129,Data Engineer,Data engineer,"Sunnyvale, CA",via Talent.com,Full-time,False,Sudan,2023-12-31 23:40:31,True,False,Sudan,NaN,NaN,NaN,ITCO Solutions,"['sql', 'python', 'java', 'snowflake', 'airflo...","{'cloud': ['snowflake'], 'libraries': ['airflo...",12
351830,Data Engineer,Data engineer,"San Francisco, CA",via Talent.com,Full-time,False,Sudan,2023-12-31 23:40:31,False,False,Sudan,NaN,NaN,NaN,JBL Resources,"['azure', 'power bi', 'word']","{'analyst_tools': ['power bi', 'word'], 'cloud...",12
327439,Data Engineer,Staff engineer data,"Southfield, MI",via Talent.com,Full-time,False,Sudan,2023-12-31 23:40:32,False,False,Sudan,year,140000.0,NaN,Credit Acceptance,"['express', 'kubernetes']","{'other': ['kubernetes'], 'webframeworks': ['e...",12
112373,Senior Data Analyst,Marketing Data & Analytics Product Owner - Sen...,"Boston, MA (+1 other)",via Boston Consulting Group,Full-time,False,"New York, United States",2023-12-31 23:59:58,False,False,United States,NaN,NaN,NaN,Boston Consulting Group,"['sql', 'python', 'r', 'gdpr', 'tableau', 'pow...","{'analyst_tools': ['tableau', 'power bi'], 'li...",12
90102,Machine Learning Engineer,Intelligence analyst,"Boston, MA",via Talent.com,Full-time,False,"New York, United States",2023-12-31 23:59:58,True,False,United States,NaN,NaN,NaN,VirtualVocations,NaN,NaN,12

In [265]:
# we want to analyse only salary_yearly data, so we dont require salary_hourly data, 
#1.we have to  drop that column (salary_hourly data)
#2. we have to drop the nan values in salary_yearly  column 
#here we are doing 2 differernt things ie we are droping one full column(axis = 1 )and other is we are removing some rows in a rows(axis= 0)
df.drop("salary_hour_avg", axis = 1).head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,company_name,job_skills,job_type_skills,job_posted_month
108804,Data Analyst,Data Analyst,"New York, NY",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:04,False,False,United States,NaN,NaN,Metasys Technologies,"['sql', 'snowflake', 'visio', 'jira', 'conflue...","{'analyst_tools': ['visio'], 'async': ['jira',...",1
96906,Data Analyst,Data Analyst,"Bloomfield, CT",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:07,True,False,United States,NaN,NaN,Diverse Lynx,"['sql', 'sas', 'sas']","{'analyst_tools': ['sas'], 'programming': ['sq...",1
98438,Data Analyst,Data Analyst,"Washington, DC",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:22,False,True,United States,NaN,NaN,Guidehouse,"['sql', 'python', 'r', 'azure', 'snowflake', '...","{'analyst_tools': ['tableau', 'excel'], 'cloud...",1
110290,Data Analyst,Data Analyst,"Fairfax, VA",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:24,False,False,United States,NaN,NaN,Protask,"['sql', 'jira']","{'async': ['jira'], 'programming': ['sql']}",1
72158,Senior Data Analyst,Senior Data Analyst / Platform Experience,"Worcester, MA",via LinkedIn,Full-time,False,"New York, United States",2023-01-01 00:00:27,False,True,United States,NaN,NaN,Atria Wealth Solutions,"['sql', 'atlassian', 'jira']","{'async': ['jira'], 'other': ['atlassian'], 'p...",1

In [273]:
df.info()  # but after removing the col, we see in info that there are  salary_hour_avg        10662 non-null  
# we have to add parameter inplace = True

<class 'pandas.core.frame.DataFrame'>
Index: 785741 entries, 108804 to 90102
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  company_name           785723 non-null  object
 14  job_skills             668704 non-null  object
 15  job_type_skills        668704 non-null  object
 16  job_posted_month       785741 non-null  int32
dtypes: bool(3), datetime64[ns](1), float64(1), int32(1), object(11)
memory usage: 89.2+ MB

In [285]:
#we have to drop nan rows for particular subset of columns in this case : salary_year_avg .. 
#so we have to use dropna for the subset of salary_year_avg
df.dropna(subset=["salary_year_avg"],axis = 0,inplace=True)

In [287]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22003 entries, 108883 to 327439
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        22003 non-null  object
 1   job_title              22003 non-null  object
 2   job_location           21723 non-null  object
 3   job_via                22003 non-null  object
 4   job_schedule_type      21987 non-null  object
 5   job_work_from_home     22003 non-null  bool
 6   search_location        22003 non-null  object
 7   job_posted_date        22003 non-null  datetime64[ns]
 8   job_no_degree_mention  22003 non-null  bool
 9   job_health_insurance   22003 non-null  bool
 10  job_country            22003 non-null  object
 11  salary_rate            22003 non-null  object
 12  salary_year_avg        22003 non-null  float64
 13  company_name           22003 non-null  object
 14  job_skills             20170 non-null  object
 15  job_type_skills        20170 non-null  object
 16  job_posted_month       22003 non-null  int32
dtypes: bool(3), datetime64[ns](1), float64(1), int32(1), object(11)
memory usage: 2.5+ MB

In [289]:
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,company_name,job_skills,job_type_skills,job_posted_month
108883,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,True,United States,year,110000.0,PlanetArt,"['python', 'sql', 'tableau', 'excel']","{'analyst_tools': ['tableau', 'excel'], 'progr...",1
334082,Data Engineer,Data Engineer,Argentina,via EchoJobs,Full-time,False,Argentina,2023-01-01 00:06:13,True,False,Argentina,year,65000.0,Spiff,"['python', 'mysql', 'aws', 'azure']","{'cloud': ['aws', 'azure'], 'databases': ['mys...",1
365786,Business Analyst,Hospitality Operations Analyst,Anywhere,via Goodwin Recruiting | Job Board,Full-time,True,Georgia,2023-01-01 00:17:55,False,True,United States,year,90000.0,Goodwin Recruiting,"['sql', 'excel', 'powerpoint', 'outlook']","{'analyst_tools': ['excel', 'powerpoint', 'out...",1
366073,Data Analyst,Data Analytics Professional,"Atlanta, GA",via CareerBuilder,Full-time,False,Georgia,2023-01-01 00:17:58,False,False,United States,year,55000.0,Cogent Infotech.,"['sql', 'python', 'numpy', 'pandas', 'seaborn'...","{'analyst_tools': ['excel', 'alteryx', 'tablea...",1
108099,Data Scientist,Lead Data Scientist (Hybrid),"Burnsville, MN",via Recruit.net,Full-time,False,"Illinois, United States",2023-01-01 00:21:09,False,False,United States,year,120531.0,Apple Valley,"['java', 'sql', 'sql server', 'spring']","{'databases': ['sql server'], 'libraries': ['s...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186163,Senior Data Scientist,"Tech Lead / Sr Data Scientist, Product Analyti...","Los Angeles, CA",via LinkedIn,Full-time,False,"California, United States",2023-12-31 15:00:46,False,True,United States,year,271526.5,TikTok,"['sql', 'python', 'r', 'express']","{'programming': ['sql', 'python', 'r'], 'webfr...",12
421728,Data Analyst,Data Analyst - Operations,"Los Angeles, CA",via Indeed,Full-time,False,"California, United States",2023-12-31 16:00:07,False,True,United States,year,72750.0,Wilshire Law Firm Plc,"['sql', 'power bi', 'unity']","{'analyst_tools': ['power bi'], 'other': ['uni...",12
313161,Data Scientist,Data Scientist - Security Clearance Required,"Newport News, VA",via IT JobServe,Full-time,False,Georgia,2023-12-31 17:31:57,False,False,United States,year,114062.5,Leidos,"['python', 'r', 'sql', 'pandas', 'numpy']","{'libraries': ['pandas', 'numpy'], 'programmin...",12
336301,Data Scientist,Data scientist,"Dallas, TX",via Talent.com,Full-time,False,Sudan,2023-12-31 23:40:22,False,True,Sudan,year,162500.0,Cognizant Technology Solutions,"['python', 'nosql']","{'programming': ['python', 'nosql']}",12
327439,Data Engineer,Staff engineer data,"Southfield, MI",via Talent.com,Full-time,False,Sudan,2023-12-31 23:40:32,False,False,Sudan,year,140000.0,Credit Acceptance,"['express', 'kubernetes']","{'other': ['kubernetes'], 'webframeworks': ['e...",12